<!-- start about -->
<%= require('@/components/service/service.ejs')() %>
<%= require('@/components/about/about.ejs')() %>
<%= require('@/components/contact/contact.ejs')() %>
<%= require('@/components/footer/foot.ejs')() %>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 hidden-xs">
                <div class="square">
                    <h2>
                        <span>公司简介</span>
                    </h2>
                    <p>微羽科技是一家快速发展的专业的软件服务商。目前我们专注于微信生态微信小程序服务，致力于为每个用户个体打造属于自己的品牌，通过微信小程序平台帮助用户将自己的商品线上线下相结合将自己推广营销出去。我们的服务不限于小程序的开发，而是为用户提供集代理申请、开发、平台维护、培训为一体的全方位服务。我们有专业的产品开发团队、长期的专业咨询服务和培训竭诚为客户提供优质服务。</p>
                </div>
            </div>
            <div class="col-sm-7 col-xs-12 wow fadeInLeft" data-wow-delay="2000">
                <h2>我们的优势</h2>
                <h3>OUR ADVANTAGE</h3>
                <div class="media wow fadeInLeft">
                    <div class="media-left">
                        <a href="javascript:;">
                            <img class="media-object" src="<%=require('static/images/zhuanzhu.png')%>" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">专注小程序领域</h4>
                        <p>专注的力量，集中全部优势资源。</p>
                    </div>
                </div>
                <div class="media wow fadeInLeft">
                    <div class="media-left">
                        <a href="javascript:;">
                            <img class="media-object" src="<%=require('static/images/zhuanzye.png')%>" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">专业的开发团队</h4>
                        <p>资深开发团队，提供最佳的解决方案。</p>
                    </div>
                </div>
                <div class="media wow fadeInRight">
                    <div class="media-left">
                        <a href="javascript:;">
                            <img class="media-object" src="<%=require('static/images/dingzhi.png')%>" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">个性化定制</h4>
                        <p>专注个体品牌，为每个客户个性化定制。</p>
                    </div>
                </div>
                <div class="media wow fadeInRight">
                    <div class="media-left">
                        <a href="javascript:;">
                            <img class="media-object" src="<%=require('static/images/peixun.png')%>" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">免费的定期培训</h4>
                        <p>为客户进行免费的定期微信小程序相关培训</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->