<!-- start service -->
<section id="service">
    <div class="container">
        <h3 class="text-center col-md-12 wow fadeInDown" data-wow-delay="2000">服务案例</h3>
        <p class="text-center">
            我们联合第三方服务供应商，以更多的选择满足你业务全面的需求</p>
        </p>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="出行" data-demo="travel">
                    <img src="<%=require('/static/images/company-img-1.jpg')%>" alt="出行">
                    <p class="case-hover hidden-xs">
                        <span>出行</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="家居" data-demo="furnishing">
                    <img src="<%=require('/static/images/company-img-2.jpg')%>" alt="家居">
                    <p class="case-hover hidden-xs">
                        <span>家居</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="服饰" data-demo="clothes">
                    <img src="<%=require('/static/images/company-img-3.jpg')%>" alt="服饰">
                    <p class="case-hover hidden-xs">
                        <span>服饰</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="旅行" data-demo="trip">
                    <img src="<%=require('/static/images/company-img-4.jpg')%>" alt="旅行">
                    <p class="case-hover hidden-xs">
                        <span>旅行</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="房产" data-demo="house">
                    <img src="<%=require('/static/images/company-img-1.jpg')%>" alt="房产">
                    <p class="case-hover hidden-xs">
                        <span>房产</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="美食" data-demo="food">
                    <img src="<%=require('/static/images/company-img-2.jpg')%>" alt="美食">
                    <p class="case-hover hidden-xs">
                        <span>美食</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="教育" data-demo="education">
                    <img src="<%=require('/static/images/company-img-3.jpg')%>" alt="教育">
                    <p class="case-hover hidden-xs">
                        <span>教育</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="3800">
                <div class="case-wrap text-center" data-title="金融" data-demo="finance">
                    <img src="<%=require('/static/images/company-img-4.jpg')%>" alt="金融">
                    <p class="case-hover hidden-xs">
                        <span>金融</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end service -->
<!-- Modal -->
<div class="modal" id="webApp" tabindex="-1" role="dialog" aria-labelledby="webAppLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-center" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" id="webAppLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div id="posterTvGrid"></div>
            </div>
        </div>
        <div class="cssload-box-loading"></div>
    </div>
</div>